.titleSectionAbout {
   margin-top: 1rem;
   font-size: 3.2rem;
   color: var(--primary);

   /* transition: margin 100ms ease-in-out;
   animation: 1.2s ease 0s 1 slideInFromRight; */
}

.sectionAbout {
   transition: margin 200ms ease-in-out;
   animation: 2s ease 0s 1 slideInFromRight;
}

.gridCardsPets {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: flex-start; /* Alinha os itens à esquerda */
   margin-top: 2rem;
   margin-bottom: 2rem;
   cursor: pointer;
}

.titlePartners {
   font-size: 28px;
   font-weight: 700;
   color: var(--primary);
   margin-bottom: 2rem;

   text-align: center;
}

.sectionPartners {
   margin-bottom: 2rem;
}

.sectionVolunteer {
   margin-bottom: 2rem;
}

/* Já corrigido */
@keyframes slideInFromRight {
   0% {
      transform: translateX(50px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.fullscreenLoader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: #fff; /* ajuste para seu tema */
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
}

.sectionObserver {
   opacity: 0;
   transition: opacity 0.3s ease;
}

.animateSlideIn {
   animation: slideInFromRight 1s ease forwards;
}

@media screen and (max-width: 500px) {
   .titleSectionAbout {
      font-size: 2rem;
   }
   .gridCardsPets {
      justify-content: center;
   }
}
